fastapi
uvicorn[standard]
supabase
requests
reportlab
python-dotenv
pydantic
google-generativeai
crewai
crewai-tools
langchain-google-genai
apscheduler

azure-identity
azure-monitor-query
groq
chromadb
